extends layout

block metadata
  meta(
    name="description"
    content="Playlist of the Day About Page"
  )

block content
  .vibe-content-section.vibe-see-through-bkgd
    h1.vibe-page-title About
    p.vibe-content-p The intention behind Playlist of the Day is to capture the vibe or mood of users by allowing them to contribute a song to a shared playlist. Every user is allowed one song suggestion per day. Users may also upvote songs that have been suggested. The 15 songs with the most votes are included in the shared playlist. This playlist will reset every day, but may be exported at any time.