extends layout

block content
  .vibe-content-section.vibe-see-through-bkgd
    h1= message
    h2.vibe-error-status= error.status
    h4.vibe-error-return-home 
      a(href="/") Return home?
    pre #{error.stack}
