html
  head
    link(rel='stylesheet', href='/stylesheets/login.css')
    div(class="login-block")
      h2 Login
      h3 #{message}
      form(action = "/login" method = "POST")
        h4 Username
        input(name = "username" type = "text" required)
        h4 Password
        input(name = "password" type = "password" required)
        button(type = "Submit") Login

    div(class="register-link")
      p New User? 
        a(href = '/register') Create an Account Here!