html
  head
    link(rel='stylesheet', href='/stylesheets/login.css')
  header
    a(href='/login') Login
  div(class="register-block")
    h2 Create An Account
    h3 #{message}
    form(action = "/register/createAccount" method = "POST")
      h4 First Name
      input(name = "firstname" type = "text" required)
      h4 Last Name
      input(name = "lastname" type = "text" required)
      h4 New Password
      input(name = "newpassword" type = "password" required)
      h4 Confirm Password
      input(name = "confirmpassword" type = "password" required)
      h4 New Username
      input(name = "newusername" type = "text" required)
      h4 Email
      input(name = "email" type = "text" required)
      br
      br
      button(type = "submit") Register
