.vibe-login-block {
  margin: 0 auto;
  border-radius: 5pt;
  border-color: black;
}

#forgot-password-link {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
}

#register-link {
  margin-top: 35px;
}

#login-btn {
  margin-top: 20px;
  width: 100%;
}

.vibe-register-block {
  margin: 0 auto;
  border-radius: 5pt;
  border-color: black;
}

.vibe-login-link {
  margin-top: 15px;
}

#register-btn {
  margin-top: 20px;
  width: 100%;
}

#securityquestion {
  margin-top: 10px;;
}

#login-error-message {
  color: red;
}

#registration-error-message {
  color: red;
  margin-top: 30px;
  margin-bottom: 0;
}

#update-account-btn {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 25px;
}

.vibe-midpage-heading {
  margin-top: 40px;
  margin-bottom: 25px;
}

#delete-btn-container {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 40px 5% 40px 5%;
}

#delete-account-btn {
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

#delete-account-btn span {
  margin-left: auto;
  margin-right: auto;
}

.fa-exclamation-triangle {
  margin-left: 5px;
}